body{
    font-family: "Nunito Sans", sans-serif;
}

.header{
    width: 100%;
}

.black_bg{
    background-color: #222222;
    padding-top: 18px;
    padding-bottom: 18px;
}

.wrapper{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

.contacts{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contacts_left{
    display: flex;
    gap: 28px;
}

.title_font{
    font-size: 28px;
    font-weight: 900;
    color: #4F8FF0;
}

.capital_font{
    font-size: 20px;
    font-weight: 900;
    color: #FFFFFF;
}

.contacts_item{
    display: flex;
    align-items: center ;
    gap: 8px;
}

.contacts_link{
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
}

.contacts_right{
}

.contact_us{
    font-size: 14px;
    color: #4F8FF0;
    font-weight: 700;
    border: none;
    background-color: transparent;
}

.section_1{
    width: 100%;
}

.navigation_bg{
    background-image:url("images/Rectangle_3.png") ;
    width: 100%;
    height: 820px;
}

.navigation_bg_bar{
    background: rgba(1, 1, 1, 0.76);
}

.navigation{
    display: flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 28px;
}

.navigation_left{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.navigation_right{
    display: flex;
    white-space: nowrap;
    width: 50%;
    list-style-type: none;
    gap: 32px;
}

.navigation_right_mobile{
    display: none;
}

@media screen and (max-width: 840px) {
    .navigation_right_mobile{
        display: block;
    }
    .navigation_right{
        display: none;
    }
}

.button_styles{
    border: none;
    background: none;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
}

.button_styles_blue {
    border: none;
    background: none;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    color: #4F8FF0;
    text-decoration: underline;
}

.service_list{
    display: grid;
    grid-template-rows: auto auto auto auto;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding-top: 150px;
    gap: 8px;

}

.main_title{
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    color: #FFFFFF;
}

.minor_title{
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
    color: #4F8FF0;
}

.description{
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
}

.button_sl{
    padding: 16px 24px;
    background:  #4F8FF0;
    color: #FFFFFF;
    border: none;
    margin-top: 40px;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button_sl:hover{
    background-color: #8C8C8C;
}

.background_color{
    background-color: #F7F7F7;
}
.section_3{
    padding-top: 80px;
}

.list_options{
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-rows: auto auto;
    width: 100%;
    padding-bottom: 48px;
}

.title_options{
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    color: #222222;
}

.line_style{
    display: grid;
    justify-content: center;
}

.line{
    width: 50px;
    height: 3px;
    background: #4F8FF0;
    margin-top: 10px;
    margin-bottom: 8px;
}

.description_options{
    display: grid;
    font-size: 16px;
    font-weight: 400;
    color: #222222;
    padding-bottom: 32px;
}

.section_4{
    padding-bottom: 80px;
}

.article_preview{
    display: grid;
    grid-template-rows: auto;
    place-items: center;
    text-align: center;
    background-color: #FFFFFF;
    padding: 50px 32px 50px 32px;
}

.blocks{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-column-gap: 24px;
    grid-row-gap: 38px;
    color: #FFFFFF;
    width: 100%;
}

@media screen and (max-width:840px)  {
    .blocks{
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
    }
}

.upper_block{
    display: grid;
    width: 50%;
}

.style_button_sec4{
    display: grid;
    justify-content: center;
}

.button_block{
    display: grid;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 16px 24px;
    background:  #4F8FF0;
    color: #FFFFFF;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button_block:hover{
    background-color: #8C8C8C;
}

.title_blocks{
    font-size: 20px;
    font-weight: 800;
    color: #222222;
    margin-top: 16px;
}

.description_blocks{
    font-size: 14px;
    font-weight: 400;
    color: #222222;
    margin: 0;
    padding-top: 16px;
}

.section_5{
    padding-top: 80px;
    padding-bottom: 80px;
}

.about_company{
    display: grid;
    justify-content: center;
    grid-column-gap: 64px;
    grid-template-columns: 720px 1fr;
}

@media screen and (max-width:840px)  {
    .box_shadow{
        display: none;
    }
    .phone_about_company.button_spacing{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

}


.box_shadow{
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.3) ;
}

.button_spacing{
    display: grid;
    justify-content: start;
    grid-template-columns: auto auto;
    gap: 24px;

}

.button_block_1{
    display: grid;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 16px 24px;
    background:  #4F8FF0;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button_block_1:hover{
    background-color: #8C8C8C;
}

.button_block_2{
    display: grid;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 16px 24px;
    background:  #E6E6E6;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button_block_2:hover{
    background-color: #4F8FF0;
}

.section_6{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #F7F7F7;
}

.head_lawyers{
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-rows: auto auto;
    padding-bottom: 48px;
}

.description_sec6{
    font-size: 14px;
    font-weight: 400;
    color: #222222;
    max-width: 860px;
}

.questionnaires{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 24px;
}

@media screen and (max-width:840px)  {
    .questionnaires{
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
    }
}

.questionnaires_style{
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
    padding-bottom: 24px;
}

.questionnaires_style_1{
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    place-items: center;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}

.title_girl{
    display: grid;
    grid-row-gap: 10px;
}

.description_sec_1{
    display: grid;
    place-items: center;
    text-align: center;
    grid-row-gap: 40px;
    font-size: 14px;
    font-weight: 400;
    color: #222222;
}

.title_sec{
    display: grid;
    place-items: center;
    text-align: center;
    padding-top: 24px;
    font-size: 16px;
    font-weight: 700;
    color: #222222;
}

.description_sec{
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #222222;
}

.section_7{
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("images/backgroung_block.png");
}

.customer_reviews{
    display: grid;
}

.head_sec7{
    display: grid;
    padding-bottom: 48px;
}

.body_sec7{
    display: grid;
    grid-template-columns: auto 2fr;
    padding: 32px;
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}

.left_block{
    width: 100%;
    height: auto;
}

.right_block{
    display: grid;
    grid-column: span;
}

.big_block{
    display: grid;
    grid-column: span 2;
}

.reviews_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 32px;
    padding-bottom: 48px;
}

@media screen and (max-width:840px)  {
    .reviews_section{
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
    }
}

.name_company{
    font-size: 14px;
    font-weight: 300;
    color: #222222;
}

.employee_name{
    font-size: 20px;
    font-weight: 700;
    color: #222222;
}

.button_customer{
    display: grid;
    justify-content: start;
    grid-template-columns: 146px 185px;
    grid-column-gap: 24px;
}

.button_reviews_1{
    display: grid;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 16px 24px;
    background:  #4F8FF0;
    color: #FFFFFF;
    border: none;
}

.button_reviews_2{
    display: grid;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 16px 24px;
    background:  #E6E6E6;
    color: #FFFFFF;
    border: none;
}

.customer_bg{
  display: grid;
}

.section_8{
    padding-top: 80px;
    padding-bottom: 80px;
}

.useful_materials{
    display: grid;
}

.nav_sec8{
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-rows: auto auto;
    padding-bottom: 48px;
}

.questionnaires_style_sec8{
    background-color: #FFFFFF;

}

.line_sec8{
    width: 50px;
    height: 3px;
    background: #4F8FF0;
    margin-top: 10px;
    margin-bottom: 24px;
}

.photo_styles{
    margin-bottom: 24px;
}

.span_8{
    font-size: 16px;
    font-weight: 700;
    color: #222222;
    padding-top: 24px;
}

.description_sec8_1{
    font-size: 12px;
    font-weight: 300;
    color: #222222;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
}

.description_sec8_2{
    font-size: 14px;
    font-weight: 400;
    color: #222222;
    margin: 0 auto;
}

.description_sec8{
    display: grid;
    max-width: 860px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    color: #222222;
}

.questionnaires_1{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-column-gap: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
}

@media screen and (max-width:840px)  {
    .questionnaires_1{
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto;
    }
}

.button_sec8{
    display: grid;
    justify-content: center;
    margin-top: 48px;
}

.button_reviews_3{
    display: grid;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 16px 24px;
    background:  #4F8FF0;
    color: #FFFFFF;
    border: none;
}

.section_9{
    background-color: #222222;
    padding-bottom: 80px;
}

@media screen and (max-width:840px)  {
    .site_footer{
        display: grid;
        justify-content: center;
        grid-template-columns: auto ;
    }
    .description_options1.description_sec9{
        display: none;
    }
}

.navigation_left_sec9{
    display: flex;
    flex-direction: column;
}

.title_font_1{
    font-size: 28px;
    font-weight: 900;
    color: #4F8FF0;
}

.capital_font_1{
    font-size: 20px;
    font-weight: 900;
    color: #FFFFFF;
}

.site_footer{
    display: grid;
    padding-top: 80px;
}

.header_sec9{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 2fr;
}

.description_sec9{
    font-size: 16px;
    font-weight: 400;
    color: #F8F5F4;

}

.line_sec9{
    width: 1320px;
    height: 1px;
    background: #8C8C8C;
    margin-top: 48px;
    margin-bottom: 48px;
}

.body_sec9{
    display: grid;
    grid-row-gap: 36px;
}

.sec_1{
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-column-gap: 24px;
}

.description_options1{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
}

.position_sec1{
    display: grid;
    grid-template-columns: 1fr;
}

.title_sec1{
    font-size: 12px;
    font-weight: 700;
    color: #8C8C8C;
}

.bg_img{
    background-color: #2C2C2C;
    padding: 12px;

}

.description_sec1{
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
}

.sec_2{
    display: grid;
    row-gap: 16px;
}

.merging_objects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.body_sec1{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.name_boss{
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

.job_title1{
    font-size: 14px;
    font-weight: 300;
    color: #FFFFFF;
}

.description_blocks1{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

.button_sec10{
    display: grid;
    justify-content: center;
    margin-top: 24px;
}

.body_sec9{
    display: grid;
    grid-template-columns: auto 2fr;
    padding: 32px;
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    background-color: #222222;
}

.section_10{
    background-color: #181818;
}

.end_of_section{
    display: grid;
}

.end_of_section{
    display: flex;
    justify-content: space-between;
}

.styles_sec10{
    display: flex;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    padding-top: 16px;
    padding-bottom: 16px;
}



